body {
    background-image: url('./gamesbyaisha.divinationproject/bg.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin: auto;
    display: inline-block;
    margin: auto;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    position: center;
}

.paragraph {
    background-color: brown;
    padding: 20px;
    border:dotted;
    font-size: 20px;
    color: white;
    position: fixed;
    top: 50%;
    left: 25%;
    width: 600px;
    display: inline-block;*/
}

.random {
    top: 50%;
    left: 35%;
    position: fixed;
    background-color: black;
    z-index: 2;
    color: orange;
    border: none;
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    position: center;
    margin: auto;
}

.textoutput {
    position: fixed;
    background-color: black;
    border: none;
    width: 350px;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    top: 60%;
/*    margin: auto;*/
    /*    position: center;*/
        left: 35%;
}

.topleft {
    position: absolute;
    top: 33px;
    left: 70px;
    font-size: 18px;
    color: white;
}

.dashboard {
    float: left;
    background-color: black;
    color: white;
    border:none;
    position: absolute;
    top: 33px;
    left: 170px;
    font-size: 18px;
    font-family: Scrogglet;
}

.dashboard2 {
    float: left;
    background-color: black;
    color: white;
    border: none;
    position: absolute;
    top: 33px;
    right: 170px;
    font-size: 18px;
    font-family: Scrogglet;
}

.dashboard3 {
    float: left;
    background-color: black;
    color: white;
    border: none;
    position: absolute;
    top: 33px;
    right: 50%;
    font-size: 18px;
    font-family: Scrogglet;
}

/*.firstpage {
    background-image: url("sun.png");
}*/

@font-face {font-family: Scrogglet; src: url('KGScrogglet.ttf')}
/*#heading-link { 
    color: black;
}*/
/*
.highlight” {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}*/
/*
.heading-link {

}*/

/*.box {
    background: pink;
    padding: 100px;
    margin: 100px;
}*/

.footer {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: white;
    font-size: 15px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #DFBD69;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    bottom: 330px;
    min-width: 217px;
    position: relative;
}

/*.dropbtn2 {
    background-color: #DFBD69;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    bottom: 330px;
    left: 100px;
    position: relative;
}*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: center;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 217px;
    bottom: 330px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*.dropdown-content2 {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 217px;
    bottom: 330px;*/
/*    left: 100px;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}*/

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #926F34;
}
